@import '_variables';

.search-from{
    
}

.card-course-item{
    margin-top: 20px;
}

.Title-WebPage{
    color: rgb(220, 165, 0);
    text-transform: uppercase;
}

.user-avatar{
    width: 28px;
    height: 28px;
    margin-right: 4px;
}