<div class="mt-4">
  <form method="POST" action=""> <!-- method là phương thức submit là gì, action là submit ở đâu vd action="/news" -->
    <div class="form-group">
      <label for="search-input">Từ khóa</label> 
      <input
        type="text"
        class="form-control"
        id="search-input"
        name="keyword"
        placeholder="Nhập từ khóa..."
      />
    </div>

    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>